<%=form_with url: ships_path, model: @ship, local: true do |form| %>
<label>選ばれた組み合わせ</label>
<%=form.hidden_field :ship_name %>
<p><%=@ship[:ship_name] %></p>
<label>コメント</label>
<%=form.text_area :comment, class: 'u-full-width' %>
<%=form.submit '送信', class: 'button button-primary' %>
<% end %>
