<!DOCTYPE html>
<html>
  <head>
    <title>MyShipGenerator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=container>
      <header>
        <h1>MyShipGenerator</h1>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
